[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BoltzMM"]
	path = BoltzMM
	url = https://github.com/andrewthomasjones/boltzmm
[submodule "EMMIXgene"]
	path = EMMIXgene
	url = https://github.com/cran/EMMIXgene
[submodule "SAGMM"]
	path = SAGMM
	url = https://github.com/andrewthomasjones/sagmm
[submodule "SSOSVM"]
	path = SSOSVM
	url = https://github.com/andrewthomasjones/ssosvm
[submodule "logKDE"]
	path = logKDE
	url = https://github.com/andrewthomasjones/logkde
[submodule "lowmemtkmeans"]
	path = lowmemtkmeans
	url = https://github.com/andrewthomasjones/lowmemtkmeans
